:root{
  --color-text: #000;
  // --color-bg: #cbb6a9;
  --color-bg: #c4c4c4;
  --color-text-alt: #d72a28;
  --color-link: #000;
  --color-link-hover: #000;
  --ratio: 1:3;
  --grid-item-width: 32vw;
  --justify: space-between;
  --gap: 2.5vw;
  --rotation: 0deg;
  --radius: 0px;
  --offset: -30vh;
  --radius-small: 4px;

}

*{
  box-sizing: border-box;
}
body{
  font-family: 'Roslindale Display Condensed Ultra', sans-serif;
  text-transform: uppercase;
  color: var(--color-text);
  background-color: var(--color-bg);
  -webkit-font-smoothing:antialiased;
  margin: 0;
  // font-weight: bold;
}
#smooth-wrapper{
  overflow: hidden;
}
#smooth-content{
  will-change: transform;
}
.section{

  z-index: 4;
  width: 100%;
  min-height: 100vh;
  background: var(--color-bg);
  line-height: 1;
  position: static;

  &--intro{
      height: 100vh;
      text-align: center;
      cursor: default;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-bottom: 250vh;
      padding: 8rem 0 2rem;
  }
  &--showcase{
    text-align: center;
    cursor: default;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 8rem 5vw 10vh;
  }

  &__title{
      text-transform: none;
      font-feature-settings: "swsh";
      margin: 5vh 0 6vh;
      font-family: 'Roslindale', serif;
      font-size: clamp(2rem, 17vw, 12.5rem);
      font-weight: 300;
      line-height: .9;
  }
  &__text{
      max-width: 400px;
      margin: 0;
      line-height: 1;
      font-weight: 500;

      &--alt{
          color: var(--color-text-alt);
          margin-top: auto;
      }
  }

  &--columns{
    margin-top: 100vh;
          z-index: -1;
          width: 100%;
          height: 80vh;
          position: fixed;
          top: 0;
          inset: 0;
  }
  &__arrow{
      fill: currentColor;
      transform: translateY(3px) rotate(135deg);
  }
}

.columns{
  width: 100%;
  justify-content: var(--justify);
  gap: var(--gap);
  height: 100%;
  transform: rotate(var(--rotation));
  will-change: transform, opacity;
  align-items: center;
  display: flex;
  position: relative;

  .column-wrap{
      z-index: 1;
      will-change: transform;
      display: flex;
      flex-direction: column;
      position:relative;
      padding: 5vh 0 15vh;

      .column{
      will-change: transform;
      display: block;
      position: relative;

          &__item{
          --grid-item-height:calc(var(--grid-item-width)*var(--ratio));
          width: var(--grid-item-width);
          height: var(--grid-item-height);
          border-radius: var(--radius);
          cursor: pointer;
          margin: 0 0 var(--gap) 0;
          z-index: 1;
          will-change: transform,filter;
          position: relative;
          overflow: hidden;
          
           img{
              width: 100%;
              height: 100%;
              will-change: transform;
              object-fit: cover;
              }
          }
      }
  
  }
}
.row{
  text-align: left;
  width: 100%;

  &__header{
    width: 100%;
    display: grid;
    grid-template-rows: auto auto ;
    grid-template-columns: 4ch 1fr auto;
    justify-content: start;
    grid-gap: 2rem;
    padding: 6rem 0 3rem;

    span{
      font-family: sans-serif;
      font-weight: 400;
      font-size: 23px;
    }
  }
  &__content{
    width:100%;
    grid-gap: 1rem;
    grid-auto-flow: column;
    justify-content:start;
    display:grid;
  }
}
.section__header {
  width: 100%;
  border-bottom: 1px solid #000;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 4rem;
  padding: 4vh 8vw;
  display: flex
}
.row__content {
  width: 100%;
  grid-gap: 1rem;
  grid-auto-flow: column;
  justify-content: start;
  display: grid;
}
.row__content-imgwrap {
  border-radius: var(--radius-small);
  position: relative;
  overflow: hidden;
}
.row__content-img {
  aspect-ratio: 2;
  height: 100px;
  background-position: 50%;
  background-size: cover;
}
.row__content-imgwrap:nth-child(2n) .row__content-img {
  aspect-ratio: 1;
}
.row__content-imgwrap:nth-child(4n) .row__content-img {
  aspect-ratio: 1.5;
}
.row__content-imgwrap:last-child {
  justify-content: end;
}
.row__content-imgwrap:last-child .row__content-img {
  aspect-ratio: 2.75;
}
